<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="member" class="com.ohgiraffers.common.MemberDTO">
<!--        memberDTO 로 빈 만든 후에 세터로 채워주는것이다.-->
        <property name="seq" value="1"/>
        <property name="name" value="홍길동"/>
        <property name="phone" value="010-2222-3333"/>
        <property name="email" value="honggildong@gmail.com"/>
        <property name="personalAccount" ref="account"/>
    </bean>

<!--아래 객체가 생성이 되서 위에 주입을 해준다. 이게 의존성 주입-->
    <bean id="account" class="com.ohgiraffers.common.PersonalAccount">
        <constructor-arg index="0" value="20"/>
        <constructor-arg index="1" value="110-223-423321"/>
    </bean>
</beans>